.bar {
    background-image: url("../img/planet.gif");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.github {
    background-image: url("../img/GitHub-Mark.png");
    background-size: 5%;
    background-position: center;
    min-height: 17vh;
    background-repeat: no-repeat;
    text-align: center;
}

.linkedin {
    background-image: url("../img/linkin.png");
    background-size: 5%;
    background-position: center;
    min-height: 17vh;
    background-repeat: no-repeat;
    text-align: center;
}




